---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jonathan Faircloth"
  description="Jonathan is a software engineer in Raleigh, NC"
>
  <section>
    <h1>Jonathan Faircloth</h1>
    <p>Software Engineer in Raleigh, NC</p>
    <a href="mailto:jonathan@faircloth.xyz">jonathan@faircloth.xyz</a>
  </section>
  <section>
    <h2>Experience</h2>
    <ul>
      <li>
        <Experience
          title="Senior Software Engineer"
          company="WCG Clinical Services"
          startDate={new Date("2023-02-02")}
          endDate={new Date()}
          bullets={[
            "Reduced time spent translating and propagating data between systems 30% by architecting and implementing applications using Angular, Node, Python, Apache Kafka, GraphQL, REST and gRPC to facilitate communication between legacy products in multiple business units",
            "Implemented features to synchronize clinical data and allow end users to access embedded business intelligence reports in web, iOS and Android applications using TypeScript, Swift, Kotlin, C# and PowerBI",
            "Directed comprehensive code reviews, ensuring adherence to best practices and high-quality standards; mentored 4 junior developers, resulting in a 35% reduction in bug reports",
            "Worked closely with product managers, designers and DevOps engineers to define requirements, provide technical guidance on implementation, and ensure automated unit and end to end testing and deployment processes were in place through the use of CI/CD pipelines",
            "Partnered with cross-functional teams to design, develop, and deploy organization-wide frameworks and tools; enhanced automated testing adoption by 50%, improved developer productivity by 30%, and boosted code quality by 25%",
            // "Reduced time spent translating and propagating data between systems 30% by architecting and implementing applications using Angular, Node, Python, Apache Kafka, GraphQL, REST and gRPC to facilitate communication between legacy products in multiple business units",
            // "Implemented features to synchronize clinical data and allow end users to access embedded business intelligence reports in web, iOS and Android applications using TypeScript, Swift, Kotlin, C# and PowerBI",
            // "Directed comprehensive code reviews, ensuring adherence to best practices and high-quality standards; mentored 4 junior developers, resulting in a 35% reduction in bug reports",
            // "Worked closely with product managers, designers and DevOps engineers to define requirements, provide technical guidance on implementation, and ensure automated unit and end to end testing and deployment processes were in place through the use of CI/CD pipelines",
            // "Collaborated with cross-functional teams to design, develop and deploy organization-wide frameworks and tools to improve automated testing, developer productivity and code quality",
          ]}
          isPresent={true}
        />
      </li>
      <li>
        <Experience
          title="Software Engineer"
          company="WCG Clinical Services"
          startDate={new Date("2020-03-02")}
          endDate={new Date("2023-02-02")}
          bullets={[
            "Reduced developer workload 15% by allowing business analysts to create and maintain basic end-user products using a UI built with Angular, Node, and Serverless Functions",
            "Streamlined the security and convenience of user authentication by leading the transition from on-premise Active Directory to Azure AD B2C, Azure AD, and Okta",
            "Standardized and revised software documentation across 5+ projects, enhancing clarity and accuracy, which improved team productivity by 20% and reduced onboarding time for new developers by 15%",
            // "Reduced developer workload 15% by allowing business analysts to create and maintain basic end-user products using a UI built with Angular, Node, and Serverless Functions",
            // "Streamlined the security and convenience of user authentication by leading the transition from on-premise Active Directory to Azure AD B2C, Azure AD, and Okta",
            // // "Created new APIs, user interfaces and features in new and existing products using TypeScript, Angular, Node.js, C# and asynchronous microservices architectures",
            // // "Developed software and systems to meet all end-user, functional, performance and regulatory requirements",
            // "Standardized and revised software documentation across 5+ projects, enhancing clarity and accuracy, which improved team productivity by 20% and reduced onboarding time for new developers by 15%",
            // "Collaborated with DevOps engineers to create CI/CD pipelines to ensure fast and reliable deployments",
          ]}
          isPresent={false}
        />
      </li>
      <li>
        <Experience
          title="Advertising Technology Developer"
          company="Healthgrades"
          startDate={new Date("2018-03-02")}
          endDate={new Date("2020-03-02")}
          bullets={[
            "Enhanced advertising campaign lead generation efficiency 10% through media mix optimization and A/B testing by building an application using Angular, Node, and Python",
            "Eliminated the need for analysts to compile client reporting by creating Google Data Studio dashboard templates and custom JavaScript data connectors for Google Analytics, Google AdWords, Bing Ads, Facebook Ads, and other platforms",
            "Improved analyst efficiency by using machine learning and AI tools to generate new keyword successions based on seed keywords and past performance, monitor display advertising placements, assist with ad copy creation, and determine optimal bidding strategies with TensorFlow, IBM Watson and other tools",
            "Reduced time to market for new advertising campaigns through the use of automated keyword-optimized React static landing page generation and direct campaign management through the Google Ads, Bing Ads, Twitter Ads, and Facebook Ads APIs from a single dashboard",
            // "Enhanced advertising campaign lead generation efficiency 10% through media mix optimization and A/B testing by building an application using Angular, Node, and Python",
            // "Eliminated the need for analysts to compile client reporting by creating Google Data Studio dashboard templates and custom JavaScript data connectors for Google Analytics, Google AdWords, Bing Ads, Facebook Ads, and other platforms",
            // "Improved analyst efficiency by using machine learning and AI tools to monitor display advertising placements, assist with ad copy creation, and determine optimal bidding strategies with TensorFlow, IBM Watson and other tools",
            // "Reduced time to market for new advertising campaigns through the use of automated keyword-optimized React static landing page generation and direct campaign management through the Google Ads, Bing Ads, Twitter Ads, and Facebook Ads APIs",
            // // "Developed internal apps and tools to streamline the creation of marketing campaigns and improve their effectiveness",
            // // "Created efficient user experiences using HTML, CSS, Python, JavaScript, Node.js, Angular and React",
            // // "Improved marketing campaigns by utilizing machine learning frameworks such as TensorFlow, Watson, and Wit.ai as well as multi-variate testing tools",
            // // "Created AdWords Scripts and microservices to manage marketing campaigns across marketing channels",
          ]}
          isPresent={false}
        />
      </li>
      <li>
        <Experience
          title="Digital Marketing Analyst"
          company="Healthgrades"
          startDate={new Date("2016-02-02")}
          endDate={new Date("2018-03-02")}
          bullets={[
            "Reduced the team's time to launch new Google Ads campaigns 20% by creating a tool to rapidly scaffold campaigns with supplied keywords, ad copy and targeting",
            "Implemented search engine marketing campaigns for Google, Bing and Yahoo Search, and display and social media campaigns across Google Display Network, Facebook, Instagram, and multiple DSPs",
            "Wrote Google AdWords Scripts using JavaScript to reduce time spent on common management tasks such as performance monitoring, ad rotation, and bid optimization by 25%",
            "Created and managed campaign analytics tracking for clients using Google Tag Manager, Google Analytics, Facebook Pixels, and other platforms",
            // "Reduced the team's time to launch new Google Ads campaigns 20% by creating a tool to rapidly scaffold campaigns with supplied keywords, ad copy and targeting",
            // "Improved the efficiency of the team's keyword research process by building a tool to automatically generate keyword suggestions based on seed keywords, past performance, and competitor data",
            // "Implemented search engine marketing campaigns for Google, Bing and Yahoo Search, and display and social media campaigns across Google Display Network, Facebook, Instagram, and multiple DSPs",
            // "Created and managed campaign analytics tracking for clients using Google Tag Manager, Google Analytics, Facebook Pixels, and other platforms",
            // // "Implemented and maintained ad campaigns for clients in the healthcare industry using Google Ads, Bing Ads, Facebook Ads, Twitter Ads, Facebook Ads, Google Analytics, Google Tag Manager, and other platforms",
            // // "Used machine learning to suggest account improvements and automate common management tasks",
            // // "Created Angular, JavaScript and PHP tools to assist in client account reporting, implementation and performance predictions",
          ]}
          isPresent={false}
        />
      </li>
      <li>
        <Experience
          title="Digital Sales Executive"
          company="Healthgrades"
          startDate={new Date("2015-01-02")}
          endDate={new Date("2016-02-02")}
          bullets={[
            "Built relationships with local business owners to help them drive new customers through digital advertising",
            "Ran successful search engine marketing, online display and direct mail campaigns for clients",
            "Assisted on sales calls with team members as a digital media subject matter expert",
            "Provided performance reporting to clients on a monthly basis",
          ]}
          isPresent={false}
        />
      </li>
    </ul>
  </section>

  <section>
    <h2>Education</h2>
    <ul>
      <li>
        <h4>Bachelor of Arts in Sociology</h4>
        <p>NC State University&nbsp;&middot;&nbsp;2010</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Skills</h2>
    <ul class="horizontal-list">
      <li>TypeScript&nbsp;&middot;&nbsp;</li>
      <li>HTML&nbsp;&middot;&nbsp;</li>
      <li>CSS&nbsp;&middot;&nbsp;</li>
      <li>Python&nbsp;&middot;&nbsp;</li>
      <li>C#&nbsp;&middot;&nbsp;</li>
      <li>Go&nbsp;&middot;&nbsp;</li>
      <li>Swift&nbsp;&middot;&nbsp;</li>
      <li>Kotlin&nbsp;&middot;&nbsp;</li>
      <li>Angular&nbsp;&middot;&nbsp;</li>
      <li>React&nbsp;&middot;&nbsp;</li>
      <li>Git</li>
    </ul>
  </section>
</Layout>
<style>
  .experience-list {
    list-style: disc;
    padding: 0;
  }

  .horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
</style>
